<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date{ISO8601} %-5level [%thread] %logger{32} - %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.gargoylesoftware.htmlunit" additivity="false" level="off"/>
    <logger name="org.apache.http.client" additivity="false" level="off"/>

    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
